In [ ]:
import os
from zoomin.database.db_access import get_var_names, get_input_var_values_full
from zoomin.data.comparison import compare_data

from zoomin.report import reportlab

In [ ]:
cwd = os.getcwd()

In [ ]:
var_names = get_var_names()

In [ ]:
var_names

In [ ]:
comparison_report = reportlab.Report(
            report_title="Comparison of Data Sources",
            file_path=os.path.join(cwd, "..", "..", "reports", "02_data_comprison", "reportlab_data_comparison.pdf"),
        )

In [ ]:
comparison_report.open()

for var_name in var_names[:4]:
    comparison_df, details_df_list = compare_data(var_name)
    comparison_report.insert_text(f"Variable: {var_name}")

    comparison_report.insert_text("Overview table")
    comparison_report.insert_table(comparison_df)

    comparison_report.insert_text("Details")
    for details_df in details_df_list:
        comparison_report.insert_table(details_df)
#     try:
#         comparison_df, details_df_list = compare_data(var_name)
#         comparison_report.write_text(f"Variable: {var_name}")
        
#         comparison_report.write_text("Overview table")
#         comparison_report.write_table(comparison_df)

#         comparison_report.write_text("Details")
#         for details_df in details_df_list:
#             comparison_report.write_table(details_df)

#         comparison_report.add_pagebreak()
        
#     except:
#         pass 
    
    
comparison_report.close()

In [ ]:
comparison_df, details_df_list = compare_data('number of chemical industries')

In [ ]:
comparison_df