In [2]:
import os
import pandas as pd
import geopandas as gpd
from zoomin.data.constants import countries_dict, open_stack_list_NUTS3, open_stack_list_LAU, data_columns 
from zoomin.data.osmtags import networks_tags_dict, stations_tags_dict, name_tags_dict

In [3]:
cwd = os.getcwd()
DATA_PATH = os.path.join(cwd, '..', '..', '..', 'data', 'input')
RAW_DATA_PATH = os.path.join(DATA_PATH, 'raw')
PROCESSED_DATA_PATH = os.path.join(DATA_PATH, 'processed')

In [4]:
def setup_LAU_gdf(
) -> gpd.GeoDataFrame:
    """Get polygons geodataframe for each country at LAU territorial unit."""
    LAU_gdf_path = os.path.join(
        PROCESSED_DATA_PATH, "shapefiles", "LAU.shp"
    )
    LAU_gdf = gpd.read_file(LAU_gdf_path, converters={'code': str})    
    LAU_gdf.drop(
        [
            col
            for col in LAU_gdf.columns
            if "code" not in col
        ],
        axis=1,
        inplace=True,
    )
    LAU_gdf.rename(columns={"code": "LAU_region_code", "prnt_code": "NUTS3_region_code"}, inplace=True)
    LAU_gdf.reset_index(drop=True, inplace=True)
    return LAU_gdf

In [5]:
def setup_NUTS3_gdf(
) -> gpd.GeoDataFrame:
    """Get polygons geodataframe for each country at NUTS3 territorial unit."""
    NUTS3_gdf_path = os.path.join(
        PROCESSED_DATA_PATH, "shapefiles", "NUTS3.shp"
    )
    NUTS3_gdf = gpd.read_file(NUTS3_gdf_path, converters={'code': str})
    NUTS3_gdf.drop(
        [
            col
            for col in NUTS3_gdf.columns
            if "code" not in col
        ],
        axis=1,
        inplace=True,
    )
    NUTS3_gdf.rename(columns={"code": "NUTS3_region_code", "prnt_code": "NUTS2_region_code"}, inplace=True)
    NUTS3_gdf.reset_index(drop=True, inplace=True)
    return NUTS3_gdf

In [6]:
def setup_NUTS2_gdf(
) -> gpd.GeoDataFrame:
    """Get polygons geodataframe for each country at NUTS2 territorial unit."""
    NUTS2_gdf_path = os.path.join(
        PROCESSED_DATA_PATH, "shapefiles", "NUTS2.shp"
    )
    NUTS2_gdf = gpd.read_file(NUTS2_gdf_path, converters={'code': str})
    NUTS2_gdf.drop(
        [
            col
            for col in NUTS2_gdf.columns
            if "code" not in col
        ],
        axis=1,
        inplace=True,
    )
    NUTS2_gdf.rename(columns={"code": "NUTS2_region_code", "prnt_code": "NUTS1_region_code"}, inplace=True)
    NUTS2_gdf.reset_index(drop=True, inplace=True)
    return NUTS2_gdf

In [7]:
def setup_NUTS1_gdf(
) -> gpd.GeoDataFrame:
    """Get polygons geodataframe for each country at NUTS1 territorial unit."""
    NUTS1_gdf_path = os.path.join(
        PROCESSED_DATA_PATH, "shapefiles", "NUTS1.shp"
    )
    NUTS1_gdf = gpd.read_file(NUTS1_gdf_path, converters={'code': str})
    NUTS1_gdf.drop(
        [
            col
            for col in NUTS1_gdf.columns
            if "code" not in col
        ],
        axis=1,
        inplace=True,
    )
    NUTS1_gdf.rename(columns={"code": "NUTS1_region_code", "prnt_code": "NUTS0_region_code"}, inplace=True)
    NUTS1_gdf.reset_index(drop=True, inplace=True)
    return NUTS1_gdf

In [8]:
def setup_NUTS0_gdf(
) -> gpd.GeoDataFrame:
    """Get polygons geodataframe for each country at NUTS0 territorial unit."""
    NUTS0_gdf_path = os.path.join(
        PROCESSED_DATA_PATH, "shapefiles", "NUTS0.shp"
    )
    NUTS0_gdf = gpd.read_file(NUTS0_gdf_path, converters={'code': str})
    NUTS0_gdf.drop(
        [
            col
            for col in NUTS0_gdf.columns
            if "code" not in col
        ],
        axis=1,
        inplace=True,
    )
    NUTS0_gdf.rename(columns={"code": "NUTS0_region_code", "prnt_code": "EU_region_code"}, inplace=True)
    NUTS0_gdf.reset_index(drop=True, inplace=True)
    return NUTS0_gdf

# Join Territorial Unit Data Frame with the Netowrk Data Sets

In [9]:
territorial_unit_1 = input(
        'Please enter a character from: LAU, NUTS3, NUTS2, NUTS1, NUTS0, Europe')

In [10]:
def get_territorial_unit_dataframe():
    """Get a dataframe to add all the necessary data that is going to be used for the spatial dissagreggation model"""
    join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "join_EU_df.csv") 
    LAU_gdf = setup_LAU_gdf()
    NUTS3_gdf = setup_NUTS3_gdf()
    NUTS2_gdf = setup_NUTS2_gdf()
    NUTS1_gdf = setup_NUTS1_gdf()
    NUTS0_gdf = setup_NUTS0_gdf()
    print(f"The lenght of LAU is: ", len(LAU_gdf))
    print(f"The lenght of NUTS3_gdf is: ", len(NUTS3_gdf))
    print(f"The lenght of NUTS2_gdf is: ", len(NUTS2_gdf))
    print(f"The lenght of NUTS1_gdf is: ", len(NUTS1_gdf))
    print(f"The lenght of NUTS0_gdf is: ", len(NUTS0_gdf))
    join_NUTS2_df = LAU_gdf.merge(NUTS3_gdf, how='left', on='NUTS3_region_code')
    NUTS2_region_code = join_NUTS2_df.pop("NUTS2_region_code")
    join_NUTS2_df.insert(0, "NUTS2_region_code", NUTS2_region_code)
    join_NUTS1_df = join_NUTS2_df.merge(NUTS2_gdf, how='left', on='NUTS2_region_code')
    NUTS1_region_code = join_NUTS1_df.pop("NUTS1_region_code")
    join_NUTS1_df.insert(0, "NUTS1_region_code", NUTS1_region_code)
    join_NUTS0_df = join_NUTS1_df.merge(NUTS1_gdf, how='left', on='NUTS1_region_code')
    NUTS0_region_code = join_NUTS0_df.pop("NUTS0_region_code")
    join_NUTS0_df.insert(0, "NUTS0_region_code", NUTS0_region_code)
    join_EU_df = join_NUTS0_df.merge(NUTS0_gdf, how='left', on='NUTS0_region_code')
    EU_region_code = join_EU_df.pop("EU_region_code")
    join_EU_df.insert(0, "EU_region_code", EU_region_code)
    # join_EU_df.to_csv(join_df_path_destination)
    return join_EU_df

In [11]:
def merge_network_data_with_territorial_unit_dataframe(territorial_unit_1, networks_tags_dict):        
        """Fill all the territorial_unit dataframe with the network data"""
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_network_LAU_df.csv") 
        join_EU_df = get_territorial_unit_dataframe()
        osm_data_list = []
        for component_name in networks_tags_dict.keys():
                data_set_df_path_source = os.path.join(
                        PROCESSED_DATA_PATH,
                        "osm_data",
                        "countries",
                        "networks_overlap_df_data",
                        f"{component_name}_overlap_df_{territorial_unit_1}.csv")
                raw_data_set_df = pd.read_csv(data_set_df_path_source, 
                                              converters={f'{territorial_unit_1}_region_code': str, 
                                                          f'{component_name}_value': str}
                                              )
                raw_data_set_df[f'{component_name}_value'] = raw_data_set_df[f'{component_name}_value'].astype(float)
                raw_data_set_df = raw_data_set_df.groupby([f'{territorial_unit_1}_region_code']).mean()
                raw_data_set_df.reset_index(inplace=True)
                data_set = join_EU_df.merge(raw_data_set_df, how='left', on='LAU_region_code')
                osm_data = data_set[[f'{component_name}_value']]
                osm_data_list.append(osm_data)
        osm_data_frame = pd.concat(osm_data_list, axis=1)
        osm_data_frame.reset_index(drop=True, inplace=True)
        join_EU_df.reset_index(drop=True, inplace=True)
        data_network_LAU = pd.concat([join_EU_df, osm_data_frame], axis=1)
        # data_network_LAU.to_csv(join_df_path_destination)
        return data_network_LAU

In [12]:
def merge_network_data_with_territorial_unit_dataframe_2(territorial_unit_1, data_network_LAU):        
        """Fill all the territorial_unit dataframe with the network data"""
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_network_NUTS3_df.csv") 
        join_EU_df = get_territorial_unit_dataframe()
        join_EU_df = join_EU_df.drop(
        ['LAU_region_code'],
        axis=1,
        )
        data_network_NUTS3 = data_network_LAU.groupby(['NUTS3_region_code']).sum()
        data_network_NUTS3.reset_index(inplace=True)
        data_network_NUTS3 = join_EU_df.merge(data_network_NUTS3, how='left', on='NUTS3_region_code')
        data_network_NUTS3 = data_network_NUTS3.drop_duplicates()
        # data_network_NUTS3.to_csv(join_df_path_destination)
        return data_network_NUTS3

In [ ]:
data_network_LAU = merge_network_data_with_territorial_unit_dataframe(territorial_unit_1, networks_tags_dict)
data_network_LAU.head()

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,LAU_region_code,bicycle_network_value,bus_network_value,railways_network_value,road_major_network_value,shipping_network_value
0,EU,BE,BE3,BE35,BE353,93088,0.00000,NaN,27302.738793,119068.328943,0.0
1,EU,BE,BE3,BE35,BE353,93010,0.00000,0.0,12278.122065,36670.353389,0.0
2,EU,BE,BE3,BE35,BE353,93014,2766.77525,0.0,3144.253705,61603.030326,0.0
3,EU,BE,BE3,BE35,BE353,93018,0.00000,0.0,414.568806,31836.235776,0.0
4,EU,BE,BE3,BE35,BE353,93022,0.00000,0.0,6541.637125,63358.953734,0.0

In [ ]:
data_network_NUTS3 = merge_network_data_with_territorial_unit_dataframe_2(territorial_unit_1, data_network_LAU)

In [ ]:
data_network_NUTS3[95:100]

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,bicycle_network_value,bus_network_value,railways_network_value,road_major_network_value,shipping_network_value
6712,EU,EL,EL3,EL30,EL303,0.000000,0.0,12464.755880,4.793178e+05,0.000000
6722,NaN,NaN,NaN,NaN,ELZZZ,0.000000,0.0,0.000000,0.000000e+00,0.000000
6723,EU,LT,LT0,LT02,LT026,309.322976,0.0,404955.496257,1.726203e+06,5815.234302
6730,EU,LT,LT0,LT02,LT027,0.000000,0.0,93803.543328,9.113190e+05,140.528679
6734,EU,LT,LT0,LT02,LT023,531.830155,0.0,262673.589476,1.207962e+06,10885.203103

In [ ]:
len(data_network_NUTS3)

1170

In [ ]:
# show rows where at least one value is NaN
print(data_network_NUTS3[data_network_NUTS3.isna().any(axis=1)])

     EU_region_code NUTS0_region_code NUTS1_region_code NUTS2_region_code  \
6722            NaN               NaN               NaN               NaN

     NUTS3_region_code  bicycle_network_value  bus_network_value  \
6722             ELZZZ                    0.0                0.0

      railways_network_value  road_major_network_value  shipping_network_value
6722                     0.0                       0.0                     0.0

# Join Territorial Unit Data Frame with the Stations Data Sets

In [ ]:
def merge_stations_data_with_territorial_unit_dataframe(territorial_unit_1, stations_tags_dict):        
        """Fill all the territorial_unit dataframe with the stations data"""
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_stations_LAU_df.csv") 
        join_EU_df = get_territorial_unit_dataframe()
        osm_data_list = []
        for component_name in stations_tags_dict.keys():
                data_set_df_path_source = os.path.join(
                        PROCESSED_DATA_PATH,
                        "osm_data",
                        "countries",
                        "stations_overlap_df_data",
                        f"{component_name}_OverlapDf_{territorial_unit_1}.csv")
                raw_data_set_df = pd.read_csv(data_set_df_path_source, 
                                              converters={f'{territorial_unit_1}_region_code': str, 
                                                          f'{component_name}_value': str}
                                              )
                raw_data_set_df[f'{component_name}_value'] = raw_data_set_df[f'{component_name}_value'].astype(float)
                # raw_data_set_df.reset_index(inplace=True)
                data_set = join_EU_df.merge(raw_data_set_df, how='left', on='LAU_region_code')
                osm_data = data_set[[f'{component_name}_value']]
                osm_data_list.append(osm_data)
        osm_data_frame = pd.concat(osm_data_list, axis=1)
        osm_data_frame.reset_index(drop=True, inplace=True)
        join_EU_df.reset_index(drop=True, inplace=True)
        data_stations_LAU = pd.concat([join_EU_df, osm_data_frame], axis=1)
        # data_stations_LAU.to_csv(join_df_path_destination)
        return data_stations_LAU

In [ ]:
def merge_stations_data_with_territorial_unit_dataframe_2(territorial_unit_1, stations_tags_dict):        
        """Fill all the territorial_unit dataframe with the stations data"""
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_stations_NUTS3_df.csv") 
        join_EU_df = get_territorial_unit_dataframe()
        data_stations_LAU = merge_stations_data_with_territorial_unit_dataframe(territorial_unit_1, stations_tags_dict)
        join_EU_df = join_EU_df.drop(
        ['LAU_region_code'],
        axis=1,
        )
        data_stations_NUTS3 = data_stations_LAU.groupby(['NUTS3_region_code']).sum()
        data_stations_NUTS3.reset_index(inplace=True)
        data_stations_NUTS3 = join_EU_df.merge(data_stations_NUTS3, how='left', on='NUTS3_region_code')
        data_stations_NUTS3 = data_stations_NUTS3.drop_duplicates()
        # data_stations_NUTS3.to_csv(join_df_path_destination)
        return data_stations_NUTS3

In [ ]:
data_stations_LAU = merge_stations_data_with_territorial_unit_dataframe(territorial_unit_1, stations_tags_dict)

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27

In [ ]:
data_stations_LAU.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,LAU_region_code,fuel_stations_value,charging_stations_value,bicycle_stations_value,bus_stations_value,airport_stations_value,railway_station_value,train_station_value,subway_station_value,lightrail_station_value,shipping_station_value,helicopter_station_value
0,EU,BE,BE3,BE35,BE353,93088,4.0,NaN,NaN,193.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN
1,EU,BE,BE3,BE35,BE353,93010,5.0,NaN,NaN,173.0,1.0,24.0,2.0,NaN,7.0,NaN,1.0
2,EU,BE,BE3,BE35,BE353,93014,8.0,2.0,NaN,204.0,NaN,35.0,2.0,NaN,12.0,NaN,NaN
3,EU,BE,BE3,BE35,BE353,93018,NaN,NaN,NaN,71.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,EU,BE,BE3,BE35,BE353,93022,NaN,NaN,NaN,121.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(data_stations_LAU)

95743

In [ ]:
data_stations_NUTS3 = merge_stations_data_with_territorial_unit_dataframe_2(territorial_unit_1, stations_tags_dict)

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27
The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27

C:\Users\rofer\AppData\Local\Temp\ipykernel_224\3867320782.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_stations_NUTS3 = data_stations_LAU.groupby(['NUTS3_region_code']).sum()

In [ ]:
data_stations_NUTS3.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,fuel_stations_value,charging_stations_value,bicycle_stations_value,bus_stations_value,airport_stations_value,railway_station_value,train_station_value,subway_station_value,lightrail_station_value,shipping_station_value,helicopter_station_value
0,EU,BE,BE3,BE35,BE353,22.0,3.0,0.0,982.0,3.0,85.0,6.0,0.0,19.0,0.0,1.0
7,EU,BE,BE1,BE10,BE100,185.0,168.0,364.0,2179.0,5.0,1290.0,22.0,60.0,0.0,15.0,11.0
26,EU,BE,BE3,BE33,BE334,31.0,9.0,0.0,972.0,3.0,32.0,2.0,0.0,0.0,0.0,2.0
40,EU,BE,BE3,BE33,BE335,72.0,25.0,3.0,2212.0,4.0,66.0,9.0,0.0,0.0,0.0,9.0
60,EU,BE,BE3,BE33,BE336,36.0,6.0,1.0,1095.0,2.0,16.0,3.0,0.0,0.0,0.0,3.0

In [ ]:
len(data_stations_NUTS3)

1170

In [ ]:
# show rows where at least one value is NaN
print(data_stations_NUTS3[data_stations_NUTS3.isna().any(axis=1)])

     EU_region_code NUTS0_region_code NUTS1_region_code NUTS2_region_code  \
6722            NaN               NaN               NaN               NaN

     NUTS3_region_code  fuel_stations_value  charging_stations_value  \
6722             ELZZZ                  0.0                      0.0

      bicycle_stations_value  bus_stations_value  airport_stations_value  \
6722                     0.0                 0.0                     0.0

      railway_station_value  train_station_value  subway_station_value  \
6722                    0.0                  0.0                   0.0

      lightrail_station_value  shipping_station_value  \
6722                      0.0                     0.0

      helicopter_station_value
6722                       0.0

# Join Territorial Unit Data Frame with the Freight transport Data Sets

In [ ]:
freight_transport_list = ['Distance_from_origin_region_to_E_road', 
                          'Distance_within_E_road',
                          'Distance_from_E_road_to_destination_region',
                          'Total_distance',
                          'Traffic_flow_trucks_2010',
                          'Traffic_flow_trucks_2019',
                          'Traffic_flow_trucks_2030',
                          'Traffic_flow_tons_2010',
                          'Traffic_flow_tons_2019',
                          'Traffic_flow_tons_2030']

In [ ]:
def merge_freight_transport_data_with_territorial_unit_dataframe():        
        """Fill all the territorial_unit dataframe with the freight transport data"""
        join_EU_df = get_territorial_unit_dataframe()
        data_set_df_path_source = os.path.join(
                        PROCESSED_DATA_PATH,
                        "freight_traffic_flow_ETISPLUS_EUROSTAT",
                        "countries",
                        "freight_traffic_flow_Overlap_df_NUTS3.csv")
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_freight_transport_NUTS3_df.csv")
        raw_data_set_df = pd.read_csv(data_set_df_path_source, 
                                        converters={'NUTS3_region_code': str,
                                        })
        for column_name in freight_transport_list:
                raw_data_set_df[f'{column_name}'] = raw_data_set_df[f'{column_name}'].astype(float)
        join_EU_df = join_EU_df.drop(
        ['LAU_region_code'],
        axis=1,
        )
        data_set_freight_transport_NUTS3 = join_EU_df.merge(raw_data_set_df, how='left', on='NUTS3_region_code')
        data_set_freight_transport_NUTS3 = data_set_freight_transport_NUTS3.drop_duplicates()
        # data_set_freight_transport_NUTS3.to_csv(join_df_path_destination)
        return data_set_freight_transport_NUTS3

In [ ]:
data_set_freight_transport_NUTS3 = merge_freight_transport_data_with_territorial_unit_dataframe()

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27

In [ ]:
data_set_freight_transport_NUTS3.head(10)

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,Distance_from_origin_region_to_E_road,Distance_within_E_road,Distance_from_E_road_to_destination_region,Total_distance,Traffic_flow_trucks_2010,Traffic_flow_trucks_2019,Traffic_flow_trucks_2030,Traffic_flow_tons_2010,Traffic_flow_tons_2019,Traffic_flow_tons_2030
0,EU,BE,BE3,BE35,BE353,7.0,833.545238,15.561905,856.107143,175.566964,172.273810,168.715774,2387.710714,2342.923810,2294.534524
7,EU,BE,BE1,BE10,BE100,5.0,1130.588785,131.744548,1267.333333,321.854556,322.320872,324.445093,4377.221963,4383.563863,4412.453271
26,EU,BE,BE3,BE33,BE334,5.0,826.866157,15.296367,847.162524,88.724904,88.371176,88.318595,1206.658700,1201.847992,1201.132887
40,EU,BE,BE3,BE33,BE335,1.0,1105.896346,127.798658,1234.695004,166.535235,173.247576,183.052759,2264.879195,2356.167040,2489.517524
60,EU,BE,BE3,BE33,BE336,10.0,1094.505255,126.722973,1231.228228,144.579580,151.983859,162.546922,1966.282282,2066.980480,2210.638138
69,EU,BE,BE2,BE21,BE211,4.0,1165.943107,125.765135,1295.708242,2024.779358,2124.772976,2268.658826,27536.999271,28896.912473,30853.760029
99,EU,BE,BE2,BE21,BE212,6.0,1156.476831,126.439462,1288.916293,243.672459,252.123505,264.596413,3313.945441,3428.879671,3598.511211
112,EU,BE,BE2,BE21,BE213,5.0,1151.583578,125.774927,1282.358504,805.605755,842.273644,895.313416,10956.238270,11454.921554,12176.262463
139,EU,BE,BE2,BE22,BE221,1.0,1140.939015,125.788391,1267.727406,730.038575,751.126929,782.855437,9928.524614,10215.326231,10646.833946
157,EU,BE,BE2,BE22,BE222,18.0,1125.899254,126.302985,1270.202239,276.111007,289.239739,308.226679,3755.109701,3933.660448,4191.882836

In [ ]:
len(data_set_freight_transport_NUTS3)

1170

In [ ]:
# show rows where at least one value is NaN
print(data_set_freight_transport_NUTS3[data_set_freight_transport_NUTS3.isna().any(axis=1)])

      EU_region_code NUTS0_region_code NUTS1_region_code NUTS2_region_code  \
589               EU                EL               EL6              EL62
668               EU                EL               EL6              EL62
713               EU                EL               EL5              EL52
781               EU                EL               EL5              EL51
860               EU                EL               EL5              EL52
...              ...               ...               ...               ...
94704             EU                PL               PL9              PL92
95113             EU                PL               PL6              PL61
95174             EU                PL               PL6              PL61
95213             EU                PL               PL9              PL92
95434             EU                PL               PL6              PL63

      NUTS3_region_code  Distance_from_origin_region_to_E_road  \
589               EL623                                    NaN
668               EL624                                    NaN
713               EL521                                    NaN
781               EL515                                    NaN
860               EL522                                    NaN
...                 ...                                    ...
94704             PL923                                    NaN
95113             PL618                                    NaN
95174             PL619                                    NaN
95213             PL925                                    NaN
95434             PL637                                    NaN

       Distance_within_E_road  Distance_from_E_road_to_destination_region  \
589                       NaN                                         NaN
668                       NaN                                         NaN
713                       NaN                                         NaN
781                       NaN                                         NaN
860                       NaN                                         NaN
...                       ...                                         ...
94704                     NaN                                         NaN
95113                     NaN                                         NaN
95174                     NaN                                         NaN
95213                     NaN                                         NaN
95434                     NaN                                         NaN

       Total_distance  Traffic_flow_trucks_2010  Traffic_flow_trucks_2019  \
589               NaN                       NaN                       NaN
668               NaN                       NaN                       NaN
713               NaN                       NaN                       NaN
781               NaN                       NaN                       NaN
860               NaN                       NaN                       NaN
...               ...                       ...                       ...
94704             NaN                       NaN                       NaN
95113             NaN                       NaN                       NaN
95174             NaN                       NaN                       NaN
95213             NaN                       NaN                       NaN
95434             NaN                       NaN                       NaN

       Traffic_flow_trucks_2030  Traffic_flow_tons_2010  \
589                         NaN                     NaN
668                         NaN                     NaN
713                         NaN                     NaN
781                         NaN                     NaN
860                         NaN                     NaN
...                         ...                     ...
94704                       NaN                     NaN
95113                       NaN                     NaN
95174                       NaN                     NaN
95213                       NaN                     NaN
95434                       NaN                     NaN

       Traffic_flow_tons_2019  Traffic_flow_tons_2030
589                       NaN                     NaN
668                       NaN                     NaN
713                       NaN                     NaN
781                       NaN                     NaN
860                       NaN                     NaN
...                       ...                     ...
94704                     NaN                     NaN
95113                     NaN                     NaN
95174                     NaN                     NaN
95213                     NaN                     NaN
95434                     NaN                     NaN

[77 rows x 15 columns]

# Join Territorial Unit Data Frame with the Vehicle Stock Data Set for Germany

In [ ]:
Vehicle_stock_list = ['Motorcylces',
                      'Agricultural Tractors',
                      'Buses',
                      'Passenger Vehicles',
                      'Motor Vehicles Other',
                      'Motor Vehicles Total',
                      'Load Force Wagons',
                      'Trailers Other',
                      'Trailers Total'
]

In [ ]:
def merge_vehicle_stock_data_with_territorial_unit_dataframe():        
        """Fill all the territorial_unit dataframe with the vehicle stock data"""
        join_EU_df = get_territorial_unit_dataframe()
        data_set_df_path_source = os.path.join(
                        PROCESSED_DATA_PATH,
                        "Vehicle_Stock",
                        "countries",
                        "DE",
                        "vehicle_stock_by_nuts3_df.csv")
        join_df_path_destination = os.path.join(
                        PROCESSED_DATA_PATH,
                        "ancilliary_data",
                        "data_vehicle_stock_NUTS3_df.csv")
        raw_data_set_df = pd.read_csv(data_set_df_path_source, 
                                        converters={'NUTS3_region_code': str,
                                        })
        # for column_name in Vehicle_stock_list:
        #         raw_data_set_df[f'{column_name}'] = raw_data_set_df[f'{column_name}'].astype(float)
        raw_data_set_df.drop(
        [
        col
        for col in raw_data_set_df.columns
        if "Unnamed: 0" in col
        ],
        axis=1,
        inplace=True,
        )
        join_EU_df = join_EU_df.drop(
        ['LAU_region_code'],
        axis=1,
        )
        data_set_vehicle_stock_NUTS3 = join_EU_df.merge(raw_data_set_df, how='left', on='NUTS3_region_code')
        data_set_vehicle_stock_NUTS3 = data_set_vehicle_stock_NUTS3.drop_duplicates()
        # data_set_vehicle_stock_NUTS3.to_csv(join_df_path_destination)
        return data_set_vehicle_stock_NUTS3

In [ ]:
data_set_vehicle_stock_NUTS3 = merge_vehicle_stock_data_with_territorial_unit_dataframe()

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27

In [ ]:
data_set_vehicle_stock_NUTS3.sample(15)

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,Motorcylces,Agricultural Tractors,Buses,Passenger Vehicles,Motor Vehicles Other,Motor Vehicles Total,Load Force Wagons,Trailers Other,Trailers Total
73103,EU,DE,DE2,DE22,DE229,7660.0,7805.0,413.0,50961.0,21281.0,72242.0,2939.0,9885.0,12824.0
79067,EU,DE,DEA,DEA1,DEA12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89853,EU,FI,FI1,FI1D,FI1D9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,EU,BE,BE2,BE23,BE231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,EU,BE,BE3,BE32,BE322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33031,EU,FR,FRY,FRY2,FRY20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19163,EU,RO,RO2,RO21,RO212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,EU,BE,BE2,BE22,BE221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71559,EU,DE,DE2,DE26,DE266,6946.0,5990.0,436.0,55300.0,18683.0,73983.0,2559.0,12333.0,14892.0
74974,EU,DE,DEE,DEE0,DEE05,8179.0,2651.0,1290.0,97993.0,22456.0,120449.0,9405.0,13581.0,22986.0
92782,EU,SE,SE3,SE33,SE332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95584,EU,PL,PL6,PL62,PL623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89247,EU,NL,NL3,NL33,NL332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88974,EU,IT,ITG,ITG1,ITG15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10086,EU,BG,BG4,BG42,BG425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(data_set_vehicle_stock_NUTS3)

1170

In [ ]:
# show rows where at least one value is NaN
print(data_set_vehicle_stock_NUTS3[data_set_vehicle_stock_NUTS3.isna().any(axis=1)])

      EU_region_code NUTS0_region_code NUTS1_region_code NUTS2_region_code  \
0                 EU                BE               BE3              BE35
7                 EU                BE               BE1              BE10
26                EU                BE               BE3              BE33
40                EU                BE               BE3              BE33
60                EU                BE               BE3              BE33
...              ...               ...               ...               ...
95609             EU                PL               PL6              PL63
95612             EU                PL               PL7              PL71
95639             EU                PL               PL2              PL21
95640             EU                PL               PL8              PL81
95692             EU                PL               PL9              PL92

      NUTS3_region_code  Motorcylces  Agricultural Tractors  Buses  \
0                 BE353          NaN                    NaN    NaN
7                 BE100          NaN                    NaN    NaN
26                BE334          NaN                    NaN    NaN
40                BE335          NaN                    NaN    NaN
60                BE336          NaN                    NaN    NaN
...                 ...          ...                    ...    ...
95609             PL633          NaN                    NaN    NaN
95612             PL712          NaN                    NaN    NaN
95639             PL213          NaN                    NaN    NaN
95640             PL815          NaN                    NaN    NaN
95692             PL921          NaN                    NaN    NaN

       Passenger Vehicles   Motor Vehicles Other   Motor Vehicles Total  \
0                     NaN                    NaN                    NaN
7                     NaN                    NaN                    NaN
26                    NaN                    NaN                    NaN
40                    NaN                    NaN                    NaN
60                    NaN                    NaN                    NaN
...                   ...                    ...                    ...
95609                 NaN                    NaN                    NaN
95612                 NaN                    NaN                    NaN
95639                 NaN                    NaN                    NaN
95640                 NaN                    NaN                    NaN
95692                 NaN                    NaN                    NaN

       Load Force Wagons   Trailers Other  Trailers Total
0                    NaN              NaN             NaN
7                    NaN              NaN             NaN
26                   NaN              NaN             NaN
40                   NaN              NaN             NaN
60                   NaN              NaN             NaN
...                  ...              ...             ...
95609                NaN              NaN             NaN
95612                NaN              NaN             NaN
95639                NaN              NaN             NaN
95640                NaN              NaN             NaN
95692                NaN              NaN             NaN

[776 rows x 14 columns]

# Query data from OpenStack

        The NACE (Nomenclature of Economic Activities in the European Community) sector related to transport is "H". The sector "H" covers the following activities:

        Water transport
        Air transport
        Supporting and auxiliary transport activities; activities of travel agencies
        Postal and courier activities
        So, any business or organization that is involved in these activities would fall under the NACE sector "H".

### NUTS3

In [14]:
def fill_territorial_unit_dataframe():
    """Fill territorial unit dataframe with the given data"""
    join_EU_df = get_territorial_unit_dataframe()
    data_length = {}
    for files in open_stack_list_NUTS3:
        file_path_source = os.path.join(cwd, '..', '..', '..', 'data_search_NUTS3', 'processed',
                            f"{files}",
                            "data.csv")
        file_path_destination = os.path.join(cwd, '..', '..', '..', 'data', 'input',
                            'processed',
                            'ancilliary_data',
                            f"data_{files}_NUTS3_df.csv")
        data = pd.read_csv(file_path_source) #, converters={region_code: str, data_value_name: float})
        column_names = data.columns
        for column_name in column_names:
            if "reg" in column_name:
                region_code = column_name
            if "value" in column_name:
                data_value_name = column_name
        data.rename(columns = {region_code: 'NUTS3_region_code', data_value_name: f"{files}_value"}, inplace = True)
        # Erase any other columns
        columns_to_keep = ['NUTS3_region_code', f"{files}_value"]
        data = data[columns_to_keep]
        # print(f"The length of the data_{files}_NUTS3_df is: ", len(data))
        data_length[files] = len(data)
        if data[f"{files}_value"].isna().any():
            missing_values = data[f"{files}_value"].isna().sum()
            print(f"Missing values found in the data_df in the column name {files}. Number of missing values: {missing_values}")
        else:
            data[f"{files}_value"] = data[f"{files}_value"].astype(int)
        join_EU_NUTS3_df = join_EU_df.drop(columns=['LAU_region_code'])    
        join_EU_NUTS3_df = join_EU_NUTS3_df.groupby('NUTS3_region_code').first()
        data_merged = join_EU_NUTS3_df.merge(data, how='left', on='NUTS3_region_code')
        if data_merged[f"{files}_value"].isna().any():
            missing_values_2 = data_merged[f"{files}_value"].isna().sum()
            print(f"Missing values found in the data_merged in the column name {files}. Number of missing values: {missing_values_2}")
        else:
            data_merged[f"{files}_value"] = data_merged[f"{files}_value"].astype(int)
        cols = ['EU_region_code', 'NUTS0_region_code', 'NUTS1_region_code', 'NUTS2_region_code', 'NUTS3_region_code', f"{files}_value"]
        data_merged = data_merged[cols]
        # data_merged.to_csv(file_path_destination)
    return data, data_merged, join_EU_df, join_EU_NUTS3_df, data_length

### LAU

In [13]:
def fill_territorial_unit_dataframe_LAU(territorial_unit):
    """Fill territorial unit dataframe with the given data"""
    join_EU_df = get_territorial_unit_dataframe()
    data_length = {}
    dfs = []
    for files in open_stack_list_LAU:
        file_path_source = os.path.join(cwd, '..', '..', '..', 'data_search_NUTS3', 'processed',
                            f"{files}",
                            "data.csv")
        data = pd.read_csv(file_path_source)
        column_names = data.columns
        for column_name in column_names:
            if "reg" in column_name:
                region_code = column_name
            if "value" or "area" in column_name:
                data_value_name = column_name
        data.rename(columns={region_code: f"{territorial_unit}_region_code", data_value_name: f"{files}_value"}, inplace=True)
        columns_to_keep = [f"{territorial_unit}_region_code", f"{files}_value"]
        data = data[columns_to_keep]
        data_length[files] = len(data)
        if data[f"{files}_value"].isna().any():
            missing_values = data[f"{files}_value"].isna().sum()
            print(f"Missing values found in the data_df in the column name {files}. Number of missing values: {missing_values}")
        else:
            # data[f"{files}_value"] = pd.to_numeric(data[f"{files}_value"], errors='coerce')
            data[f"{files}_value"] = data[f"{files}_value"].astype('Int64')
        dfs.append(data)
    data_merged = pd.concat(dfs, axis=1)
    # cols = ['EU_region_code', 'NUTS0_region_code', 'NUTS1_region_code', 'NUTS2_region_code', 'NUTS3_region_code']
    # cols.extend([f"{files}_value" for files in open_stack_list_LAU])
    # data_merged = data_merged[cols]
    return data, data_merged, join_EU_df, data_length

In [14]:
file_path_source = os.path.join(cwd, '..', '..', '..', 'data_search_NUTS3', 'processed',
                            'residential energy demand',
                            "data.csv")
data = pd.read_csv(file_path_source)

In [15]:
data.head()

   reg_code prnt_code  year         value quality_rating
0   2000000     DE600  2022  1.950172e+06           good
1   6411000     DE711  2022  1.078707e+06           good
2   6412000     DE712  2022  3.190672e+06           good
3   6413000     DE713  2022  7.236244e+05           good
4   6414000     DE714  2022  1.737275e+06           good

In [18]:
def fill_territorial_unit_dataframe_LAU(territorial_unit):
    """Fill territorial unit dataframe with the given data"""
    join_EU_df = get_territorial_unit_dataframe()
    data_length = {}
    for files in open_stack_list_LAU:
        file_path_source = os.path.join(cwd, '..', '..', '..', 'data_search_NUTS3', 'processed',
                            f"{files}",
                            "data.csv")
        file_path_destination = os.path.join(cwd, '..', '..', '..', 'data', 'input',
                            'processed',
                            'ancilliary_data',
                            f"data_{files}_{territorial_unit}_df.csv")
        data = pd.read_csv(file_path_source) #, converters={region_code: str, data_value_name: float})
        column_names = data.columns
        for column_name in column_names:
            if "reg" in column_name:
                region_code = column_name
            if "value" in column_name:
                data_value_name = column_name
        data.rename(columns = {region_code: f"{territorial_unit}_region_code", data_value_name: f"{files}_value"}, inplace = True)
        # Erase any other columns
        columns_to_keep = [f"{territorial_unit}_region_code", f"{files}_value"]
        data = data[columns_to_keep]
        # print(f"The length of the data_{files}_{territorial_unit}_df is: ", len(data))
        data_length[files] = len(data)
        if data[f"{files}_value"].isna().any():
            missing_values = data[f"{files}_value"].isna().sum()
            print(f"Missing values found in the data_df in the column name {files}. Number of missing values: {missing_values}")
        else:
            data[f"{files}_value"] = data[f"{files}_value"].astype(int)
        print('The file name is: ', files)
        # print(data.info())
        data[f"{territorial_unit}_region_code"] = data[f"{territorial_unit}_region_code"].astype('object')
        data_merged = join_EU_df.merge(data, how='left', on=f"{territorial_unit}_region_code")
        numeric_cols = data_merged.select_dtypes(include=['int', 'float']).columns
        data_merged_LAU = data_merged.groupby(f"NUTS3_region_code")[numeric_cols ].sum()
        join_EU_NUTS3_df = join_EU_df.drop(columns=['LAU_region_code'])    
        join_EU_NUTS3_df = join_EU_NUTS3_df.groupby('NUTS3_region_code').first()
        data_merged = join_EU_NUTS3_df.merge(data_merged_LAU, how='left', on='NUTS3_region_code')
        data_merged = data_merged.reset_index()
        data_merged = data_merged[['EU_region_code', 'NUTS0_region_code', 'NUTS1_region_code', 'NUTS2_region_code', 'NUTS3_region_code', f"{files}_value"]]
        if data_merged[f"{files}_value"].isna().any():
            missing_values_2 = data_merged[f"{files}_value"].isna().sum()
            print(f"Missing values found in the data_merged in the column name {files}. Number of missing values: {missing_values_2}")
        else:
            data_merged[f"{files}_value"] = data_merged[f"{files}_value"].astype('Int64')
        data_merged.to_csv(file_path_destination)
    return data, join_EU_df, data_merged, data_length, data_merged_LAU, join_EU_NUTS3_df

In [19]:
territorial_unit = 'LAU'
data, join_EU_df, data_merged, data_length, data_merged_LAU, join_EU_NUTS3_df = fill_territorial_unit_dataframe_LAU(territorial_unit)

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27
The file name is:  electricity demand of chemical industries
The file name is:  electricity demand of iron and steel industries
The file name is:  electricity demand of non-ferrous metal industries
The file name is:  electricity demand of non-metallic mineral industries
The file name is:  electricity demand of paper and printing industries
The file name is:  electricity demand of refineries
The file name is:  fuel demand of chemical industries
The file name is:  fuel demand of iron and steel industries
The file name is:  fuel demand of non-ferrous metal industries
The file name is:  fuel demand of non-metallic mineral industries
The file name is:  fuel demand of paper and printing industries
The file name is:  fuel demand of refineries
The file name is:  generation capacity of biomass plants
The file name is:  generation capacity of fossil brown coal or lignite plants
The file name is:  generation capacity of fossil coal-derived gas plants
The file name is:  generation capacity of fossil gas plants
The file name is:  generation capacity of fossil hard coal plants
The file name is:  generation capacity of fossil oil plants
The file name is:  generation capacity of fossil oil shale plants
The file name is:  generation capacity of fossil peat plants
The file name is:  generation capacity of geothermal plants
The file name is:  generation capacity of hydro pumped storage plants
The file name is:  generation capacity of hydro run-of-river and poundage plants
The file name is:  generation capacity of hydro water reservoir plants
The file name is:  generation capacity of marine plants
The file name is:  generation capacity of nuclear plants
The file name is:  generation capacity of other plants
The file name is:  generation capacity of solar plants
The file name is:  generation capacity of waste plants
The file name is:  generation capacity of wind offshore plants
The file name is:  generation capacity of wind onshore plants
The file name is:  non-residential footprint area
The file name is:  number of biomass plants
The file name is:  number of buildings
The file name is:  number of chemical industries
The file name is:  number of fossil brown coal or lignite plants
The file name is:  number of fossil coal-derived gas plants
The file name is:  number of fossil gas plants
The file name is:  number of fossil hard coal plants
The file name is:  number of fossil oil plants
The file name is:  number of fossil oil shale plants
The file name is:  number of fossil peat plants
The file name is:  number of geothermal plants
The file name is:  number of hydro pumped storage plants
The file name is:  number of hydro run-of-river and poundage plants
The file name is:  number of hydro water reservoir plants
The file name is:  number of iron and steel industries
The file name is:  number of marine plants
The file name is:  number of non-ferrous metal industries
The file name is:  number of non-metallic mineral industries
The file name is:  number of non-residential buildings
The file name is:  number of nuclear plants
The file name is:  number of other plants
The file name is:  number of paper and printing industries
The file name is:  number of pixels with agriculture with natural vegetation
The file name is:  number of pixels with agro-forestry areas
The file name is:  number of pixels with airports
The file name is:  number of pixels with bare rocks
The file name is:  number of pixels with beaches - dunes - sands
The file name is:  number of pixels with broad-leaved forest
The file name is:  number of pixels with burnt areas
The file name is:  number of pixels with coastal lagoons
The file name is:  number of pixels with complex cultivation patterns
The file name is:  number of pixels with coniferous forest
The file name is:  number of pixels with construction sites
The file name is:  number of pixels with continuous urban fabric
The file name is:  number of pixels with discontinuous urban fabric
The file name is:  number of pixels with dump sites
The file name is:  number of pixels with estuaries
The file name is:  number of pixels with fruit trees and berry plantations
The file name is:  number of pixels with glaciers and perpetual snow
The file name is:  number of pixels with green urban areas
The file name is:  number of pixels with industrial or commercial units
The file name is:  number of pixels with inland marshes
The file name is:  number of pixels with intertidal flats
The file name is:  number of pixels with land use - nodata
The file name is:  number of pixels with mineral extraction sites
The file name is:  number of pixels with mixed forest
The file name is:  number of pixels with moors and heathland
The file name is:  number of pixels with natural grasslands
The file name is:  number of pixels with non-irrigated arable land
The file name is:  number of pixels with olive groves
The file name is:  number of pixels with pastures
The file name is:  number of pixels with peat bogs
The file name is:  number of pixels with permanent crops
The file name is:  number of pixels with permanently irrigated land
The file name is:  number of pixels with port areas
The file name is:  number of pixels with rice fields
The file name is:  number of pixels with road and rail networks
The file name is:  number of pixels with salines
The file name is:  number of pixels with salt marshes
The file name is:  number of pixels with sclerophyllous vegetation
The file name is:  number of pixels with sea and ocean
The file name is:  number of pixels with sparsely vegetated areas
The file name is:  number of pixels with sport and leisure facilities
The file name is:  number of pixels with transitional woodland-shrub
The file name is:  number of pixels with vineyards
The file name is:  number of pixels with water bodies
The file name is:  number of pixels with water courses
The file name is:  number of refineries
The file name is:  number of solar plants
The file name is:  number of waste plants
The file name is:  number of wind offshore plants
The file name is:  number of wind onshore plants
The file name is:  onshore wind potential capacity
The file name is:  railway length (with power source - electrified track)
The file name is:  railway length (with power source - non-electrified)
The file name is:  railway length (with power source - overhead electrified)
The file name is:  railway length (with power source - unknown)
The file name is:  residential energy demand
The file name is:  residential energy demand from biomass and wastes
The file name is:  residential energy demand from derived heat
The file name is:  residential energy demand from electricity
The file name is:  residential energy demand from gas or diesel oil incl. biofuels
The file name is:  residential energy demand from gases incl. biogas
The file name is:  residential energy demand from geothermal energy
The file name is:  residential energy demand from liquified petroleum gas
The file name is:  residential energy demand from solids
The file name is:  residential footprint area
The file name is:  residential heat demand

In [15]:
data_merged.shape

(1170, 6)

In [16]:
data_merged.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,residential heat demand_value
0,EU,AT,AT1,AT11,AT111,0
1,EU,AT,AT1,AT11,AT112,0
2,EU,AT,AT1,AT11,AT113,0
3,EU,AT,AT1,AT12,AT121,0
4,EU,AT,AT1,AT12,AT122,0

In [71]:
join_EU_df.shape

(95743, 6)

In [86]:
data_merged.shape

(95743, 7)

In [83]:
data_merged_LAU.head()

                   electricity demand of iron and steel industries_value
NUTS3_region_code
AT111                                                            0.0
AT112                                                            0.0
AT113                                                            0.0
AT121                                                            0.0
AT122                                                            0.0

In [74]:
data_merged_LAU.shape

(1170, 1)

In [50]:
data.sample(50)

      LAU_region_code  electricity demand of iron and steel industries_value
9871            SML10                                                  0
11180           03014                                                  0
50321           80157                                                  0
79619        16071065                                                  0
93892   1002301570802                                                  0
84374          019081                                                  0
78972        16066017                                                  0
22772          544248                                                  0
18715           32704                                                  0
86413          030052                                                  0
38044           94056                                                  0
70789        03452009                                                  0
20746           74242                                                  0
39922           89399                                                  0
46570           51104                                                  0
47018           51589                                                  0
9158           182122                                                  0
89349             992                                                  0
25077          584665                                                  0
32143           26204                                                  0
46655           51195                                                  0
40396           08440                                                  0
24536          591190                                                  0
15560           20011                                                  0
15741           50121                                                  0
30210           58122                                                  0
59681           68120                                                  0
53963           66137                                                  0
67649          527211                                                  0
45523           25127                                                  0
94397   1006181350601                                                  0
50539           80387                                                  0
46889           51451                                                  0
90938           70908                                                  0
51772           62013                                                  0
68080          556572                                                  0
10364           08079                                                  0
64097           05953                                                  0
30527           71131                                                  0
68274          522911                                                  0
47213           86133                                                  0
64330           08059                                                  0
66830         MT02666                                                  0
9120           181406                                                  0
89968            5143                                                  0
73672        09777152                                                  0
46159           79212                                                  0
26967          562157                                                  0
3754         14040103                                                  0
75774        15084335                                                  0

In [15]:
data_merged.shape

(95314, 4)

In [14]:
join_EU_df.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,LAU_region_code
0,EU,BE,BE3,BE35,BE353,93088
1,EU,BE,BE3,BE35,BE353,93010
2,EU,BE,BE3,BE35,BE353,93014
3,EU,BE,BE3,BE35,BE353,93018
4,EU,BE,BE3,BE35,BE353,93022

In [14]:
data, data_merged, join_EU_df, join_EU_NUTS3_df, data_length = fill_territorial_unit_dataframe()

The lenght of LAU is:  95743
The lenght of NUTS3_gdf is:  1169
The lenght of NUTS2_gdf is:  240
The lenght of NUTS1_gdf is:  92
The lenght of NUTS0_gdf is:  27
Missing values found in the data_merged in the column name deaths. Number of missing values: 15
Missing values found in the data_merged in the column name employment in nace sector G-I. Number of missing values: 15
Missing values found in the data_merged in the column name gross domestic product. Number of missing values: 15
Missing values found in the data_merged in the column name gross value added. Number of missing values: 15
Missing values found in the data_merged in the column name gross value added in nace sector G-I. Number of missing values: 15
Missing values found in the data_merged in the column name live births. Number of missing values: 15
Missing values found in the data_merged in the column name number of busses_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of large businesses. Number of missing values: 15
Missing values found in the data_merged in the column name number of lorries_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of mopeds_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of motorcycles_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of passenger cars_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of residential buildings_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of road tractors_PL. Number of missing values: 1097
Missing values found in the data_merged in the column name number of small businesses. Number of missing values: 15
Missing values found in the data_merged in the column name population. Number of missing values: 15
Missing values found in the data_merged in the column name quality of life index. Number of missing values: 15
Missing values found in the data_merged in the column name relative gross value added. Number of missing values: 15
Missing values found in the data_merged in the column name relative gross value added in nace sector G-I. Number of missing values: 15
Missing values found in the data_merged in the column name total area. Number of missing values: 15
Missing values found in the data_merged in the column name total employment. Number of missing values: 15
Missing values found in the data_merged in the column name total number of businesses. Number of missing values: 15

In [15]:
data_merged.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,total number of businesses_value
0,EU,AT,AT1,AT11,AT111,2179.0
1,EU,AT,AT1,AT11,AT112,10491.0
2,EU,AT,AT1,AT11,AT113,5869.0
3,EU,AT,AT1,AT12,AT121,13175.0
4,EU,AT,AT1,AT12,AT122,15323.0

In [ ]:
len(data_merged)

1170

In [ ]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1170 entries, 0 to 1169
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   EU_region_code                    1169 non-null   object
 1   NUTS0_region_code                 1169 non-null   object
 2   NUTS1_region_code                 1169 non-null   object
 3   NUTS2_region_code                 1169 non-null   object
 4   NUTS3_region_code                 1170 non-null   object
 5   total number of businesses_value  1155 non-null   float64
dtypes: float64(1), object(5)
memory usage: 64.0+ KB

# Join all dataframes together at NUTS3 level

In [47]:
def get_file_names():
    extension_1 = 'data'
    directory = os.path.join(cwd, '..', '..', '..', 
                            'data', 
                            'input',
                            'processed',
                            'ancilliary_data'
                            )
    path_destination = os.path.join(cwd, '..', '..', '..', 
                        'data', 
                        'input',
                        'processed',
                        'ancilliary_data',
                        'processed'
                        "data.csv"
                        )
    
    dfs = []
    file_count = 0
    for filename in os.listdir(directory):
        if filename.startswith(extension_1):
            file_path = os.path.join(directory, filename)
            df = pd.read_csv(file_path)
            df = df.sort_values("NUTS3_region_code", ignore_index=True)
            dfs.append(df)
            file_count += 1
            
    keep_columns = set()
    for df in dfs:
        for column in df.columns:
            if column not in keep_columns:
                keep_columns.add(column)
            else:
                df.drop(column, axis=1, inplace=True)
                
        concatenated_df = pd.concat(dfs, axis=1, sort=True)
        concatenated_df = concatenated_df.drop(columns=['Unnamed: 0'])
    # concatenated_df.to_csv(path_destination, index=False)
    return concatenated_df, file_count

In [48]:
concatenated_df, file_count = get_file_names()
print(f"Concatenated {file_count} files.")

Concatenated 146 files.

In [49]:
number_of_columns = concatenated_df.shape[1]
print(f"Number of columns: {number_of_columns}")

Number of columns: 182

In [50]:
concatenated_df.shape

(1170, 182)

In [27]:
concatenated_df.dtypes

EU_region_code                                                  object
NUTS0_region_code                                               object
NUTS1_region_code                                               object
NUTS2_region_code                                               object
NUTS3_region_code                                               object
                                                                 ...
residential energy demand from liquified petroleum gas_value     int64
residential energy demand from solids_value                      int64
residential energy demand_value                                  int64
residential footprint area_value                                 int64
residential heat demand_value                                    int64
Length: 125, dtype: object

In [57]:
pd.options.display.max_columns = 182
pd.options.display.float_format = '{:,.2f}'.format
concatenated_df.head(90)[70:90]
# concatenated_df.head()

,EU_region_code,NUTS0_region_code,NUTS1_region_code,NUTS2_region_code,NUTS3_region_code,deaths_value,electricity demand of chemical industries_value,electricity demand of iron and steel industries_value,electricity demand of non-ferrous metal industries_value,electricity demand of non-metallic mineral industries_value,electricity demand of paper and printing industries_value,electricity demand of refineries_value,employment in nace sector G-I_value,Distance_from_origin_region_to_E_road,Distance_within_E_road,Distance_from_E_road_to_destination_region,Total_distance,Traffic_flow_trucks_2010,Traffic_flow_trucks_2019,Traffic_flow_trucks_2030,Traffic_flow_tons_2010,Traffic_flow_tons_2019,Traffic_flow_tons_2030,fuel demand of chemical industries_value,fuel demand of iron and steel industries_value,fuel demand of non-ferrous metal industries_value,fuel demand of non-metallic mineral industries_value,fuel demand of paper and printing industries_value,fuel demand of refineries_value,generation capacity of biomass plants_value,generation capacity of fossil brown coal or lignite plants_value,generation capacity of fossil coal-derived gas plants_value,generation capacity of fossil gas plants_value,generation capacity of fossil hard coal plants_value,generation capacity of fossil oil plants_value,generation capacity of fossil oil shale plants_value,generation capacity of fossil peat plants_value,generation capacity of geothermal plants_value,generation capacity of hydro pumped storage plants_value,generation capacity of hydro run-of-river and poundage plants_value,generation capacity of hydro water reservoir plants_value,generation capacity of marine plants_value,generation capacity of nuclear plants_value,generation capacity of other plants_value,generation capacity of solar plants_value,generation capacity of waste plants_value,generation capacity of wind offshore plants_value,generation capacity of wind onshore plants_value,gross domestic product_value,gross value added in nace sector G-I_value,gross value added_value,live births_value,bicycle_network_value,bus_network_value,railways_network_value,road_major_network_value,shipping_network_value,non-residential footprint area_value,number of biomass plants_value,number of buildings_value,number of busses_PL_value,number of chemical industries_value,number of fossil brown coal or lignite plants_value,number of fossil coal-derived gas plants_value,number of fossil gas plants_value,number of fossil hard coal plants_value,number of fossil oil plants_value,number of fossil oil shale plants_value,number of fossil peat plants_value,number of geothermal plants_value,number of hydro pumped storage plants_value,number of hydro run-of-river and poundage plants_value,number of hydro water reservoir plants_value,number of iron and steel industries_value,number of large businesses_value,number of lorries_PL_value,number of marine plants_value,number of mopeds_PL_value,number of motorcycles_PL_value,number of non-ferrous metal industries_value,number of non-metallic mineral industries_value,number of non-residential buildings_value,number of nuclear plants_value,number of other plants_value,number of paper and printing industries_value,number of passenger cars_PL_value,number of pixels with agriculture with natural vegetation_value,number of pixels with agro-forestry areas_value,number of pixels with airports_value,number of pixels with bare rocks_value,number of pixels with beaches - dunes - sands_value,number of pixels with broad-leaved forest_value,number of pixels with burnt areas_value,number of pixels with coastal lagoons_value,number of pixels with complex cultivation patterns_value,number of pixels with coniferous forest_value,number of pixels with construction sites_value,number of pixels with continuous urban fabric_value,number of pixels with discontinuous urban fabric_value,number of pixels with dump sites_value,number of pixels with estuaries_value,number of pixels with fruit trees and berry plantations_value,number of pixels with glaciers and perpetual snow_value,number of pixels with green urban areas_value,number of pixels with industrial or commercial units_value,number of pixels with inland marshes_value,number of pixels with intertidal flats_value,number of pixels with land use - nodata_value,number of pixels with mineral extraction sites_value,number of pixels with mixed forest_value,number of pixels with moors and heathland_value,number of pixels with natural grasslands_value,number of pixels with non-irrigated arable land_value,number of pixels with olive groves_value,number of pixels with pastures_value,number of pixels with peat bogs_value,number of pixels with permanent crops_value,number of pixels with permanently irrigated land_value,number of pixels with port areas_value,number of pixels with rice fields_value,number of pixels with road and rail networks_value,number of pixels with salines_value,number of pixels with salt marshes_value,number of pixels with sclerophyllous vegetation_value,number of pixels with sea and ocean_value,number of pixels with sparsely vegetated areas_value,number of pixels with sport and leisure facilities_value,number of pixels with transitional woodland-shrub_value,number of pixels with vineyards_value,number of pixels with water bodies_value,number of pixels with water courses_value,number of refineries_value,number of residential buildings_PL_value,number of road tractors_PL_value,number of small businesses_value,number of solar plants_value,number of waste plants_value,number of wind offshore plants_value,number of wind onshore plants_value,onshore wind potential capacity_value,population_value,quality of life index_value,railway length (with power source - electrified track)_value,railway length (with power source - non-electrified)_value,railway length (with power source - overhead electrified)_value,railway length (with power source - unknown)_value,relative gross value added in nace sector G-I_value,relative gross value added_value,residential energy demand from biomass and wastes_value,residential energy demand from derived heat_value,residential energy demand from electricity_value,residential energy demand from gas or diesel oil incl. biofuels_value,residential energy demand from gases incl. biogas_value,residential energy demand from geothermal energy_value,residential energy demand from liquified petroleum gas_value,residential energy demand from solids_value,residential energy demand_value,residential footprint area_value,residential heat demand_value,fuel_stations_value,charging_stations_value,bicycle_stations_value,bus_stations_value,airport_stations_value,railway_station_value,train_station_value,subway_station_value,lightrail_station_value,shipping_station_value,helicopter_station_value,total area_value,total employment_value,total number of businesses_value,Motorcylces,Agricultural Tractors,Buses,Passenger Vehicles,Motor Vehicles Other,Motor Vehicles Total,Load Force Wagons,Trailers Other,Trailers Total
70,EU,BE,BE3,BE33,BE336,737.00,0,0,0,0,0,0,"5,600.00",10.00,"1,094.51",126.72,"1,231.23",144.58,151.98,162.55,"1,966.28","2,066.98","2,210.64",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"2,205.00",364.00,"1,968.00",806.00,0.00,0.00,"38,434.09","286,112.84",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,3612,0,0,0,0,2244,0,0,6517,19004,0,79,7379,0,0,0,0,0,615,393,0,0,31,19701,2559,338,5537,0,31329,796,0,0,0,0,109,0,0,0,0,0,37,1518,0,231,0,0,NaN,NaN,0.00,0,0,0,0,0,"78,408.00",0.00,17,10,38,0,16.00,89.00,0,0,0,0,0,0,0,0,0,0,0,36.00,6.00,1.00,"1,095.00",2.00,16.00,3.00,0.00,0.00,0.00,3.00,847.00,"28,400.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,EU,BE,BE3,BE34,BE341,515.00,0,0,0,18,0,0,"5,100.00",3.00,"1,102.28",129.25,"1,234.54",80.57,87.13,96.35,"1,095.78","1,185.00","1,310.33",0,0,0,511,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,600.00",303.00,"1,429.00",700.00,0.00,0.00,"60,016.75","353,286.91",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,1,0,0,0,0,NaN,2481,0,0,0,0,6260,0,0,5262,1336,0,94,4761,0,0,5,0,62,881,55,0,0,98,4072,301,0,8316,0,6745,0,0,0,0,0,100,0,0,0,0,0,70,338,3,48,176,0,NaN,NaN,0.00,0,0,0,0,0,"63,642.00",0.00,30,0,13,0,18.00,89.00,0,0,0,0,0,0,0,0,0,0,0,22.00,25.00,1.00,929.00,1.00,50.00,4.00,0.00,0.00,0.00,4.00,319.00,"20,900.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,EU,BE,BE3,BE34,BE342,448.00,0,0,0,0,0,0,"3,300.00",4.00,"1,124.04",130.39,"1,258.43",85.00,89.12,95.07,"1,155.99","1,212.06","1,292.89",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,166.00",195.00,"1,041.00",580.00,0.00,0.00,"24,788.29","430,777.64",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,7358,0,68,0,0,5247,0,0,29155,15002,26,0,5478,0,0,64,0,31,326,0,0,0,26,25229,0,390,8443,0,26859,547,0,0,0,0,74,0,0,0,0,0,26,2618,0,19,6,0,NaN,NaN,0.00,0,0,0,0,0,"50,228.00",0.00,22,0,17,0,16.00,89.00,0,0,0,0,0,0,0,0,0,0,0,19.00,4.00,0.00,"1,261.00",2.00,17.00,3.00,0.00,0.00,0.00,1.00,"1,047.00","15,500.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,EU,BE,BE3,BE34,BE343,582.00,0,0,0,0,0,0,"4,900.00",14.00,"1,152.49",130.20,"1,296.69",97.50,101.42,107.19,"1,325.96","1,379.36","1,457.83",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,735.00",287.00,"1,549.00",612.00,0.00,0.00,"54,808.15","409,719.35",209.08,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,5864,0,169,0,0,15508,0,0,14456,14917,0,0,7807,53,0,84,0,0,518,0,0,0,281,34483,548,1412,3512,452,17833,406,0,0,0,0,111,0,0,4954,8,201,337,2384,3182,18,0,0,NaN,NaN,0.00,0,0,0,0,0,"57,734.00",0.00,56,0,25,0,16.00,89.00,0,0,0,0,0,0,0,0,0,0,0,35.00,13.00,0.00,"1,314.00",2.00,42.00,4.00,0.00,0.00,0.00,70.00,958.00,"23,400.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,EU,BE,BE3,BE34,BE344,628.00,0,0,0,0,0,0,"4,900.00",2.00,"1,120.21",127.75,"1,249.95",174.79,180.84,189.78,"2,377.20","2,459.46","2,581.04",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,838.00",302.00,"1,641.00",723.00,0.00,0.00,"118,620.50","702,410.54",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,1,NaN,7292,0,196,0,214,27231,66,0,28523,18947,115,57,7725,0,0,2797,0,0,678,0,0,0,164,37935,146,33,4056,0,18601,70,0,0,0,0,149,0,0,1042,0,0,246,2482,3479,48,0,0,NaN,NaN,0.00,0,0,0,0,0,"63,821.00",0.00,131,5,50,0,16.00,89.00,0,0,0,0,0,0,0,0,0,0,0,35.00,14.00,3.00,"1,586.00",3.00,50.00,6.00,0.00,0.00,0.00,2.00,"1,359.00","25,900.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,EU,BE,BE3,BE34,BE345,491.00,0,0,0,0,735,0,"2,300.00",18.00,"1,126.28",127.26,"1,271.54",75.03,80.35,87.88,"1,020.38","1,092.74","1,195.14",0,0,0,0,2660,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,988.00,131.00,882.00,586.00,0.00,0.00,"97,373.96","616,209.62",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,1,NaN,4681,0,0,0,0,24571,0,0,12049,5185,0,0,5638,0,0,0,0,0,543,374,50,0,147,12185,185,134,19593,0,23702,0,0,0,0,0,75,0,21,0,0,0,146,563,0,118,0,0,NaN,NaN,0.00,0,0,0,0,0,"54,181.00",0.00,67,2,30,0,13.00,89.00,0,0,0,0,0,0,0,0,0,0,0,21.00,8.00,1.00,902.00,0.00,29.00,4.00,0.00,0.00,0.00,2.00,778.00,"13,700.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,EU,BE,BE3,BE35,BE351,"1,240.00",0,0,0,0,0,0,"7,000.00",1.00,"1,081.44",138.58,"1,221.02",113.39,114.66,116.95,"1,542.16","1,559.31","1,590.54",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"2,555.00",391.00,"2,281.00","1,068.00",0.00,0.00,"257,204.34","1,155,178.38",151.26,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,9549,0,164,0,0,27780,0,0,28666,5033,37,39,11627,0,0,224,0,187,724,0,0,0,324,39193,0,913,24532,0,17979,0,0,0,0,0,171,0,0,0,0,0,1576,947,0,0,413,0,NaN,NaN,0.00,0,0,0,0,0,"112,757.00",0.00,96,0,13,0,15.00,89.00,0,0,0,0,0,0,0,0,0,0,0,44.00,13.00,2.00,"1,812.00",2.00,144.00,10.00,0.00,0.00,0.00,26.00,"1,597.00","36,100.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,EU,BE,BE3,BE35,BE352,"3,143.00",1353,0,0,216,0,0,"23,600.00",2.00,"1,102.72",129.19,"1,233.91",332.36,334.64,339.38,"4,520.16","4,551.10","4,615.62",225,0,0,2216,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"9,978.00","1,568.00","8,909.00","3,130.00",0.00,0.00,"371,245.16","1,289,832.13",0.00,0,0,0,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,1,0,0,0,0,NaN,7872,0,0,0,0,16421,0,0,18980,532,35,98,23164,0,0,80,0,44,1465,0,0,0,755,7654,0,1933,42784,0,4687,0,0,0,0,0,259,0,0,0,0,0,793,126,0,29,461,0,NaN,NaN,0.00,0,0,0,0,0,"319,132.00",0.00,106,10,6,0,15.00,89.00,0,0,0,0,0,0,0,0,0,0,0,90.00,32.00,39.00,"2,779.00",3.00,209.00,15.00,0.00,10.00,0.00,5.00,"1,168.00","123,500.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,EU,BE,BE3,BE35,BE353,718.00,0,0,0,0,0,0,"3,500.00",7.00,833.55,15.56,856.11,175.57,172.27,168.72,"2,387.71","2,342.92","2,294.53",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,283.00",182.00,"1,145.00",628.00,"2,766.78",0.00,"66,025.60","504,233.55",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,3719,0,229,0,0,22268,0,0,15792,2487,111,0,6563,0,0,0,0,85,682,0,0,0,288,14205,27,0,15296,0,9824,0,0,0,0,0,19,0,0,0,0,0,0,219,0,260,0,0,NaN,NaN,0.00,0,0,0,0,0,"67,544.00",0.00,0,32,5,0,14.00,89.00,0,0,0,0,0,0,0,0,0,0,0,22.00,3.00,0.00,982.00,3.00,85.00,6.00,0.00,19.00,0.00,1.00,911.00,"17,800.00",0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,EU,BG,BG3,BG31,BG311,"1,922.00",0,0,0,0,0,0,"6,110.00",7.00,"1,438.33",15.75,"1,461.09",29.14,32.64,37.41,396.33,443.88,508.83,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,376.00,52.00,324.00,548.00,0.00,0.00,"134,763.46","649,308.47",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,185.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,30397,0,98,401,158,71600,0,0,6023,1566,0,0,11130,0,0,369,0,25,1297,0,0,0,37,5228,0,2859,137403,0,11325,0,0,0,47,0,86,0,0,0,0,1081,0,12981,4641,666,4121,0,NaN,NaN,"1,346.00",0,0,0,0,0,"82,835.00",0.00,0,0,0,0,13.00,86.00,0,0,0,0,0,0,0,0,0,0,0,29.00,0.00,0.00,44.00,1.00,36.00,1.00,0.00,0.00,1.00,0.00,"3,035.00","30,580.00","2,930.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,EU,BG,BG3,BG31,BG312,"2,799.00",0,0,0,0,0,0,"9,090.00",7.00,"1,485.07",17.32,"1,509.39",128.75,144.00,165.06,"1,751.00","1,958.44","2,244.84",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,628.00,79.00,542.00,936.00,0.00,0.00,"144,600.10","691,772.48",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,332.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,30729,0,283,355,0,65347,0,0,15258,695,0,0,13999,0,0,626,0,0,1609,81,0,0,147,10429,90,13075,159536,0,18992,0,0,0,0,0,83,0,0,0,0,1834,91,22015,2663,2477,2649,0,NaN,NaN,"1,937.00",0,0,0,0,0,"127,001.00",0.00,0,0,0,0,12.00,86.00,0,0,0,0,0,0,0,0,0,0,0,28.00,0.00,0.00,11.00,2.00,46.00,2.00,0.00,0.00,0.00,0.00,"3,629.00","48,160.00","4,370.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,EU,BG,BG3,BG31,BG313,"3,180.00",0,0,0,77,0,0,"12,230.00",30.00,"1,515.74",17.55,"1,563.28",155.96,174.43,199.97,"2,121.03","2,372.23","2,719.65",0,0,0,1943,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2000,0,0,0,0,0,"1,100.00",111.00,949.00,"1,348.00",122.02,0.00,"239,528.51","726,478.66","1,852.15",0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,391.00,NaN,0,NaN,NaN,0,1,0,2,0,0,NaN,32642,0,0,538,37,44294,0,0,9785,325,0,0,16626,0,0,875,0,43,3290,503,0,0,855,5852,0,7315,188148,0,23510,0,0,0,0,0,34,0,0,0,0,1461,221,19595,2123,808,3393,0,NaN,NaN,"2,647.00",0,0,0,0,0,"159,470.00",0.00,0,0,0,0,10.00,86.00,0,0,0,0,0,0,0,0,0,0,0,37.00,0.00,0.00,79.00,3.00,56.00,3.00,0.00,0.00,2.00,0.00,"3,620.00","63,170.00","5,672.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,EU,BG,BG3,BG31,BG314,"4,624.00",0,0,0,16,50,206,"20,090.00",6.00,"1,492.91",18.07,"1,516.98",169.12,189.14,216.87,"2,300.06","2,572.34","2,949.39",0,0,0,470,153,2798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,202.00",183.00,"1,037.00","2,002.00",265.64,0.00,"442,816.54","940,034.62",588.09,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,660.00,NaN,0,NaN,NaN,0,1,0,0,0,1,NaN,26958,0,408,0,0,31313,0,0,6911,32,224,0,19991,0,0,1950,0,49,4842,1417,0,0,430,300,0,1825,310668,0,28122,0,0,0,0,0,64,0,0,0,0,136,376,16002,4863,2431,5031,1,NaN,NaN,"4,282.00",0,0,0,0,0,"236,305.00",0.00,0,0,0,0,15.00,86.00,0,0,0,0,0,0,0,0,0,0,0,43.00,0.00,0.00,125.00,14.00,89.00,8.00,0.00,0.00,4.00,0.00,"4,651.00","98,190.00","9,288.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,EU,BG,BG3,BG31,BG315,"2,582.00",0,0,0,83,0,0,"11,100.00",3.00,"1,582.32",17.74,"1,603.07",190.94,213.52,244.81,"2,596.73","2,903.87","3,329.41",0,0,0,2098,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,654.00,88.00,564.00,969.00,14.74,0.00,"136,758.26","886,264.70",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,391.00,NaN,0,NaN,NaN,0,1,0,0,0,0,NaN,61158,0,29,98,0,115882,0,0,16057,2922,25,0,12519,69,0,4862,0,0,2015,172,0,0,445,43941,218,16264,83028,0,21864,0,0,0,0,0,39,0,0,0,0,168,33,29321,949,963,0,0,NaN,NaN,"2,438.00",0,0,0,0,0,"122,546.00",0.00,0,0,0,0,13.00,86.00,0,0,0,0,0,0,0,0,0,0,0,44.00,0.00,0.00,66.00,3.00,24.00,9.00,0.00,0.00,0.00,0.00,"4,133.00","52,950.00","5,301.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,EU,BG,BG3,BG32,BG321,"4,093.00",0,0,0,0,346,0,"23,870.00",3.00,"1,615.90",17.38,"1,636.28",197.33,220.69,253.01,"2,683.66","3,001.34","3,440.88",0,0,0,0,1903,0,0,0,0,0,120,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,332.00",244.00,"1,150.00","1,743.00",0.00,0.00,"417,616.00","1,102,353.06","1,266.47",0,0,0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,753.00,NaN,0,NaN,NaN,0,0,0,0,0,1,NaN,43893,0,143,68,0,95534,0,0,10484,1640,46,0,21158,80,0,1588,0,0,4820,171,0,0,633,16721,0,3788,205640,0,22193,0,0,0,0,0,332,0,0,0,0,296,419,28660,3960,2390,1824,0,NaN,NaN,"4,485.00",0,0,0,0,0,"232,568.00",0.00,0,0,0,0,18.00,86.00,0,0,0,0,0,0,0,0,0,0,0,55.00,1.00,0.00,240.00,3.00,81.00,9.00,0.00,0.00,1.00,3.00,"4,661.00","105,120.00","10,166.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,EU,BG,BG3,BG32,BG322,"2,114.00",0,0,0,0,0,0,"10,970.00",9.00,"1,617.57",17.82,"1,644.39",81.50,91.16,104.52,"1,108.42","1,239.77","1,421.44",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,798.00,128.00,689.00,751.00,990.90,"25,418.32","94,303.06","833,620.10",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,483.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,32197,0,0,49,0,63463,0,0,11191,1333,0,0,9017,0,0,1944,0,26,1370,0,0,0,112,24062,121,5520,33363,0,8392,0,0,0,0,0,27,0,0,0,0,0,41,9532,168,451,0,0,NaN,NaN,"2,476.00",0,0,0,0,0,"106,598.00",0.00,0,0,0,0,16.00,86.00,0,0,0,0,0,0,0,0,0,0,0,38.00,0.00,0.00,242.00,2.00,19.00,6.00,0.00,0.00,0.00,0.00,"2,023.00","55,010.00","6,007.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,EU,BG,BG3,BG32,BG323,"3,711.00",0,0,0,0,0,0,"24,060.00",10.00,"1,626.39",17.76,"1,654.14",200.96,224.73,257.65,"2,733.09","3,056.37","3,504.02",0,0,0,0,0,0,0,0,0,0,290,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"1,425.00",278.00,"1,230.00","1,508.00",0.00,0.00,"291,209.30","651,689.92",0.00,0,0,0,NaN,0,0,0,0,2,0,0,0,0,0,0,0,0,851.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,16623,0,171,69,0,36174,0,0,4695,906,0,89,12650,89,0,785,0,38,3560,571,0,0,360,2482,0,1042,169204,0,14377,0,0,0,182,0,216,0,0,0,0,307,361,14685,1537,807,4474,0,NaN,NaN,"4,623.00",0,0,0,0,0,"215,477.00",0.00,0,0,0,0,19.00,86.00,0,0,0,0,0,0,0,0,0,0,0,55.00,0.00,0.00,276.00,9.00,42.00,14.00,0.00,0.00,2.00,0.00,"2,868.00","103,130.00","11,155.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,EU,BG,BG3,BG32,BG324,"1,880.00",0,0,0,0,0,0,"9,130.00",12.00,"1,676.73",17.68,"1,706.41",125.34,140.19,160.74,"1,704.62","1,906.54","2,186.01",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,597.00,82.00,515.00,876.00,0.00,0.00,"109,391.05","581,281.92",0.00,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,281.00,NaN,0,NaN,NaN,0,0,0,0,0,0,NaN,14614,0,83,0,0,47868,0,0,3338,156,0,0,11015,0,0,1153,0,125,1419,0,0,0,141,879,0,159,141264,0,9038,0,0,0,0,0,119,0,0,0,0,72,92,8459,918,476,0,0,NaN,NaN,"1,792.00",0,0,0,0,0,"110,789.00",0.00,0,0,0,0,13.00,86.00,0,0,0,0,0,0,0,0,0,0,0,18.00,0.00,0.00,39.00,5.00,28.00,0.00,0.00,0.00,0.00,0.00,"2,414.00","49,990.00","4,014.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
pd.set_option('display.max_columns', None) # set the maximum number of columns to None to show all columns
print(concatenated_df.columns)
print(f"Number of columns: {len(concatenated_df.columns)}")
concatenated_df.columns

Index(['EU_region_code', 'NUTS0_region_code', 'NUTS1_region_code',
       'NUTS2_region_code', 'NUTS3_region_code', 'deaths_value',
       'electricity demand of chemical industries_value',
       'electricity demand of iron and steel industries_value',
       'electricity demand of non-ferrous metal industries_value',
       'electricity demand of non-metallic mineral industries_value',
       ...
       'total number of businesses_value', 'Motorcylces',
       'Agricultural Tractors', 'Buses', 'Passenger Vehicles',
       ' Motor Vehicles Other', ' Motor Vehicles Total', 'Load Force Wagons',
       ' Trailers Other', 'Trailers Total'],
      dtype='object', length=182)
Number of columns: 182

Index(['EU_region_code', 'NUTS0_region_code', 'NUTS1_region_code',
       'NUTS2_region_code', 'NUTS3_region_code', 'deaths_value',
       'electricity demand of chemical industries_value',
       'electricity demand of iron and steel industries_value',
       'electricity demand of non-ferrous metal industries_value',
       'electricity demand of non-metallic mineral industries_value',
       ...
       'total number of businesses_value', 'Motorcylces',
       'Agricultural Tractors', 'Buses', 'Passenger Vehicles',
       ' Motor Vehicles Other', ' Motor Vehicles Total', 'Load Force Wagons',
       ' Trailers Other', 'Trailers Total'],
      dtype='object', length=182)